@media (max-width: 991px) {
    .header {
        &__contacts {
            a {
                font-size: 16px;
            }
        }
    }
    .promo {
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .benefit {
        &__icons {
            width:100%;
        }
        &__descr {
            width: 220px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 185px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 13px;
            }
        }
        &__contacts {
            a {
                font-size: 13px;
            }
        }
    }
    .title {
        font-size: 30px;
    }
    .button {
        &_main {
            width: 255px;
            height: 50px;
            font-size: 16px;
            margin-top: 67px;
        &__consultation {
            width: 100%;
        }
        }
    }
    .promo {
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 16px;
            margin-top: 10px;
        }
        &__icons {
            width: 380px;
        }
    }
    .benefit {
        &__icons {
            flex-direction: column;
            align-items: center;
        }
    }

}

@media(max-width: 575px) {
    .header{
       &__official {
           display: none;
       } 
       &__logo {
        width: 135px;
    }
    } 
    .button {
        width: 110px;
        font-size: 10px;
        &_main {
            width: 180px;
            height: 30px;
        }
        &_consultation {
            width: 95%;
            height: 50px;
        }
    } 
    .promo {
        min-height: 580px;
        &__wrapper {
            margin-top: 65px;
        }
        &__header{
            font-size: 23px;
        }
        &__subheader{
            font-size: 11px;
            margin-top: 0px;
        }
        &__icons {
            width: 280px;
            margin-top: 50px;
        }
        &__icon  {
            font-size: 12px;
            img {
            height: 40px;
            width: 40px;
            }
        }
        &__link {
            font-size: 13px;
        }
    }    
    .title {
        font-size: 24px;
        &_white {
            font-size: 19px;
        }
    }
    .consultation {
        padding-top: 85px;
        &__subheader {
            font-size: 16px;
            margin-top: 60px;
        }
    }

    .feed-form {
        input {
            width: 95%;
        }
    }
}