.benefit {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__icons {
        width: 922px;
        padding-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &_icon {
        width: 250px;
    }
    &__subheader {
        margin: 38px 0 25px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    &__descr {
        display: inline-block;
        width: 250px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    a {
        color: $main-color;
        font-weight: bold;
        text-decoration: underline;
    }
    
}