.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;

    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    &:hover {
        cursor: pointer;
    }
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 67px;
    }
    &_consultation {
        width: 100%;
        height: 55px;
        margin-top: 20px;
        font-size: 16px;
    }
    &_card-item {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}
