.catalog {
    margin-bottom: 103px;
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 69px;
    }
    &__tab {
        width: 220px;
        height: 50px;
        margin: 0 5px;
        border: solid 2px #d0d0d0;
        list-style: none;
        transform: skewX(-25deg);
        font-size: 18px;
        font-weight: 500;
        line-height: 48px;
        text-align: center;
        color: #6b6b6b;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s all;
        &_active {
            background-color: $main-color;
            border: none;
            color: #fff;
        }
        &:hover {
            box-shadow: 0 0 15px 5px rgba(199, 1, 1, 0.5);
            border: none;
        }
    }
    &__btn {
        transform: skewX(25deg);
    }

    &__content {
        .card-item {
            width: 300px;
            min-height: 440px;
            border: solid 2px #e8e8e8;
            &__img {
                display: block; 
                margin: 20px auto;
                width: 140px;
                height: 200px;   
            }
            &__subheader {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                color: #0d0d0d;
            }
            &__descr {
                margin-top: 16px;
                font-size: 14px;
                font-weight: 300;
                text-align: center;
                color: #0d0d0d;
            }
            hr {
                width: 260px;
                height: 1px;
                background-color: #e8e8e8;
            }
            &__link {
                display:block;
                margin-top: 17px;
                margin-bottom: 19px;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                color: $main-color;
                text-decoration: underline;
            }
            &__footer {
                margin: 21px 20px 20px 26px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__price {
                &_small {
                    font-size: 14px;
                    font-weight: 300;
                    color: #555;
                    text-decoration: line-through;
                }
                &_big {
                    font-size: 20px;
                    font-weight: bold;
                    color: #050505;
                }
            }
        }
    }
}
